#board, #ui {float:left}
#board td {
background-repeat:no-repeat;
border:5px solid white;
height:93px;
width:150px;
}
#board td.selected {border:5px solid purple}
#controls {padding-top:10px}
#controls input {
font-family:sans-serif;
font-size:12pt;
}
#score {padding-top:5px}
#score td {
border:1px solid black;
font-family:sans-serif;
font-size:14pt;
padding:0px 5px 0px 5px;
}

.OneHollowRedCircle {
background-image:url('setcards1.gif');
background-position:0px 0px;
}
.OneHollowGreenCircle {
background-image:url('setcards1.gif');
background-position:-151px 0px;
}
.OneHollowBlueCircle {
background-image:url('setcards1.gif');
background-position:-303px 0px;
}
.OneSolidRedSquare {
background-image:url('setcards1.gif');
background-position:0px -95px;
}
.OneSolidGreenSquare {
background-image:url('setcards1.gif');
background-position:-151px -95px;
}
.OneSolidBlueSquare {
background-image:url('setcards1.gif');
background-position:-302px -95px;
}
.OneShadedRedSquare {
background-image:url('setcards1.gif');
background-position:0px -189px;
}
.OneShadedGreenSquare {
background-image:url('setcards1.gif');
background-position:-152px -189px;
}
.OneShadedBlueSquare {
background-image:url('setcards1.gif');
background-position:-302px -189px;
}
.OneHollowRedSquare {
background-image:url('setcards1.gif');
background-position:0px -284px;
}
.OneHollowGreenSquare {
background-image:url('setcards1.gif');
background-position:-151px -284px;
}
.OneHollowBlueSquare {
background-image:url('setcards1.gif');
background-position:-302px -284px;
}
.OneSolidRedTriangle {
background-image:url('setcards1.gif');
background-position:0px -379px;
}
.OneSolidGreenTriangle {
background-image:url('setcards1.gif');
background-position:-151px -379px;
}
.OneSolidBlueTriangle {
background-image:url('setcards1.gif');
background-position:-302px -379px;
}
.OneShadedRedTriangle {
background-image:url('setcards1.gif');
background-position:0px -473px;
}
.OneShadedGreenTriangle {
background-image:url('setcards1.gif');
background-position:-151px -473px;
}
.OneShadedBlueTriangle {
background-image:url('setcards1.gif');
background-position:-303px -473px;
}
.OneHollowRedTriangle {
background-image:url('setcards1.gif');
background-position:0px -568px;
}
.OneHollowGreenTriangle {
background-image:url('setcards1.gif');
background-position:-151px -568px;
}
.OneHollowBlueTriangle {
background-image:url('setcards1.gif');
background-position:-302px -568px;
}

.TwoShadedRedSquare {
background-image:url('setcards2.gif');
background-position:0px 0px;
}
.TwoShadedGreenSquare {
background-image:url('setcards2.gif');
background-position:-151px 0px;
}
.TwoShadedBlueSquare {
background-image:url('setcards2.gif');
background-position:-302px 0px;
}
.TwoHollowRedSquare {
background-image:url('setcards2.gif');
background-position:0px -95px;
}
.TwoHollowGreenSquare {
background-image:url('setcards2.gif');
background-position:-151px -95px;
}
.TwoHollowBlueSquare {
background-image:url('setcards2.gif');
background-position:-302px -95px;
}
.TwoSolidRedTriangle {
background-image:url('setcards2.gif');
background-position:0px -189px;
}
.TwoSolidGreenTriangle {
background-image:url('setcards2.gif');
background-position:-151px -189px;
}
.TwoSolidBlueTriangle {
background-image:url('setcards2.gif');
background-position:-302px -189px;
}
.TwoShadedRedTriangle {
background-image:url('setcards2.gif');
background-position:0px -284px;
}
.TwoShadedGreenTriangle {
background-image:url('setcards2.gif');
background-position:-151px -284px;
}
.TwoShadedBlueTriangle {
background-image:url('setcards2.gif');
background-position:-302px -284px;
}
.TwoHollowRedTriangle {
background-image:url('setcards2.gif');
background-position:0px -379px;
}
.TwoHollowGreenTriangle {
background-image:url('setcards2.gif');
background-position:-151px -379px;
}
.TwoHollowBlueTriangle {
background-image:url('setcards2.gif');
background-position:-302px -379px;
}
.OneSolidRedCircle {
background-image:url('setcards2.gif');
background-position:0px -473px;
}
.OneSolidGreenCircle {
background-image:url('setcards2.gif');
background-position:-151px -473px;
}
.OneSolidBlueCircle {
background-image:url('setcards2.gif');
background-position:-303px -473px;
}
.OneShadedRedCircle {
background-image:url('setcards2.gif');
background-position:0px -568px;
}
.OneShadedGreenCircle {
background-image:url('setcards2.gif');
background-position:-151px -568px;
}
.OneShadedBlueCircle {
background-image:url('setcards2.gif');
background-position:-302px -568px;
}

.ThreeSolidRedTriangle {
background-image:url('setcards3.gif');
background-position:0px 0px;
}
.ThreeSolidGreenTriangle {
background-image:url('setcards3.gif');
background-position:-151px 0px;
}
.ThreeSolidBlueTriangle {
background-image:url('setcards3.gif');
background-position:-302px 0px;
}
.ThreeShadedRedTriangle {
background-image:url('setcards3.gif');
background-position:0px -95px;
}
.ThreeShadedGreenTriangle {
background-image:url('setcards3.gif');
background-position:-151px -95px;
}
.ThreeShadedBlueTriangle {
background-image:url('setcards3.gif');
background-position:-302px -95px;
}
.ThreeHollowRedTriangle {
background-image:url('setcards3.gif');
background-position:0px -189px;
}
.ThreeHollowGreenTriangle {
background-image:url('setcards3.gif');
background-position:-151px -189px;
}
.ThreeHollowBlueTriangle {
background-image:url('setcards3.gif');
background-position:-302px -189px;
}
.TwoSolidRedCircle {
background-image:url('setcards3.gif');
background-position:0px -284px;
}
.TwoSolidGreenCircle {
background-image:url('setcards3.gif');
background-position:-151px -284px;
}
.TwoSolidBlueCircle {
background-image:url('setcards3.gif');
background-position:-302px -284px;
}
.TwoShadedRedCircle {
background-image:url('setcards3.gif');
background-position:0px -379px;
}
.TwoShadedGreenCircle {
background-image:url('setcards3.gif');
background-position:-151px -379px;
}
.TwoShadedBlueCircle {
background-image:url('setcards3.gif');
background-position:-302px -379px;
}
.TwoHollowRedCircle {
background-image:url('setcards3.gif');
background-position:0px -473px;
}
.TwoHollowGreenCircle {
background-image:url('setcards3.gif');
background-position:-151px -473px;
}
.TwoHollowBlueCircle {
background-image:url('setcards3.gif');
background-position:-303px -473px;
}
.TwoSolidRedSquare {
background-image:url('setcards3.gif');
background-position:0px -568px;
}
.TwoSolidGreenSquare {
background-image:url('setcards3.gif');
background-position:-151px -568px;
}
.TwoSolidBlueSquare {
background-image:url('setcards3.gif');
background-position:-302px -568px;
}

.ThreeSolidRedCircle {
background-image:url('setcards4.gif');
background-position:0px 0px;
}
.ThreeSolidGreenCircle {
background-image:url('setcards4.gif');
background-position:-151px 0px;
}
.ThreeSolidBlueCircle {
background-image:url('setcards4.gif');
background-position:-302px 0px;
}
.ThreeShadedRedCircle {
background-image:url('setcards4.gif');
background-position:0px -95px;
}
.ThreeShadedGreenCircle {
background-image:url('setcards4.gif');
background-position:-151px -95px;
}
.ThreeShadedBlueCircle {
background-image:url('setcards4.gif');
background-position:-302px -95px;
}
.ThreeHollowRedCircle {
background-image:url('setcards4.gif');
background-position:0px -189px;
}
.ThreeHollowGreenCircle {
background-image:url('setcards4.gif');
background-position:-151px -189px;
}
.ThreeHollowBlueCircle {
background-image:url('setcards4.gif');
background-position:-302px -189px;
}
.ThreeSolidRedSquare {
background-image:url('setcards4.gif');
background-position:0px -284px;
}
.ThreeSolidGreenSquare {
background-image:url('setcards4.gif');
background-position:-151px -284px;
}
.ThreeSolidBlueSquare {
background-image:url('setcards4.gif');
background-position:-302px -284px;
}
.ThreeShadedRedSquare {
background-image:url('setcards4.gif');
background-position:0px -379px;
}
.ThreeShadedGreenSquare {
background-image:url('setcards4.gif');
background-position:-151px -379px;
}
.ThreeShadedBlueSquare {
background-image:url('setcards4.gif');
background-position:-302px -379px;
}
.ThreeHollowRedSquare {
background-image:url('setcards4.gif');
background-position:0px -473px;
}
.ThreeHollowGreenSquare {
background-image:url('setcards4.gif');
background-position:-151px -473px;
}
.ThreeHollowBlueSquare {
background-image:url('setcards4.gif');
background-position:-303px -473px;
}
