.hidden {display:none}
#board, #ui {float:left}
#controls {padding-top:10px}
#controls input {
font-family:sans-serif;
font-size:12pt;
}
#score {padding-top:5px}
#score td {
border:1px solid black;
font-family:sans-serif;
font-size:14pt;
padding:0px 5px 0px 5px;
}
